.env
.venv/
.ven/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.DS_Store

datasets/raw/*
datasets/processed/*
models/*
logs/*
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep
!models/.gitkeep
!logs/.gitkeep
